:root {
  --whiteShade: rgb(252, 252, 252);
  --darkShade: rgb(15, 1, 54);
  --pinkShade: bisque;
  --greyShade: #c2c2c2;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--darkShade);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.board-title{
  display: flex;
  gap: 20px;
}
h1 {
  font-size: 3rem;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 37rem;
}

button {
  background-color: var(--whiteShade);
  box-shadow: 1px 1px 2px var(--darkShade);
  align-self: center;
  padding: 5px;
  transition: all 0.5s ease-in;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}

button:hover {
  background-color: var(--pinkShade);
  box-shadow: 1px 1px 1px var(--darkShade);
}

ul {
  border: 2px solid var(--darkShade);
  padding: 0;
  transition: all 1s ease-in;
  border-radius: 5px;
  min-height: 15rem;
  min-width: 300px;
}

li {
  list-style-type: none;
  padding: 10px;
}

li:nth-child(even) {
  background: var(--pinkShade);
}

form {
  display: flex;
  flex-direction: column;
  min-width: 300px;

}

input {
  border: 2px solid var(--darkShade);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}
input:focus{
  background-color: var(--pinkShade);
}

::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and  (min-width: 678px){
  main {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    width: 100%;
  }
  ul, form {
    min-width: 320px;
  }
}